body {
    background-color: antiquewhite;
}

.header h1 {
    margin-top: 20px;
    color: #c70808;
    font-size: 50px;
    font-weight: bolder;
}

.formLogin {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    margin-right: 10px;
}

.btn-gradient {
    background: linear-gradient(45deg, #ff0000, #0000ff);
    color: #ffffff;
    border: none;
    transition: background 0.3s ease;
}

.btn-gradient:hover {
    background: linear-gradient(45deg, #e46868, #6161f1);
}

#userErro {
    color: red;
    font-size: 15px;
    margin-bottom: 20px;
}

#userError {
    color: red;
    font-size: 15px;
    margin-bottom: 20px;
}

#userInst {
    color: green;
    font-size: 15px;
    margin-bottom: 20px;
}

#usuarioName {
    font-size: large;
    margin: 10px;
    font-weight: bold;
}

#dropUsers {
    margin: 10px;
}

#dropUsers button {
    margin-left: 5px;
}

#quit {
    margin-top: 20px;
}